@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins&family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Tinos&display=swap');




/* split the screen */
.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  /* Control the left side */
.left {
    width: 55%;
    left: 0;
    background-color:#EFEFEF;
    
  }

/* Control the right side */
.right {
    width: 45%;
    right: 0;
    background-color: #01050B;
    

  }



/* snowboard image */
.snowboard {
    width: 100%;
    height: auto;
    margin-top: -20px;
}

/* button */
button {
  border-radius: 33px;
  background-color: #C0C2C5;
  border: none;
  height: 48px;
  width: 96px;
}

/* button image */
.button-image {
  width: 17px;
  height: 17px;
}

button:hover {
  background-color:#afafaf ;
}

button:focus{
  outline: none;
}

/* form */
form {
  background-color: #dedede;
  display:flex;
  width: 302px;
  height: 48px;
  border-radius: 33px;
  margin-left: 165px;
  margin-top: 60px;

}



/* input */
input {
  background-color: #DEDEDE;
  border-radius: 33px;
  border: none;
  height: 48px;
  width: 302px;
  padding-right: 40px;
  /* padding-left: 36px; */
  font-family: 'Tinos', serif;
  margin-bottom: 73px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

input:focus{
  outline: none;
}





/* paragraph */
.paragraph {
  /* margin-left: 30px; */
  text-align: center;
  margin-top: 40px;
  margin-right: 60px;
  margin-left: 60px;
  font-size: 16px;
  margin-bottom: 27px;
  line-height: 1.5;
  font-family: 'Tinos', serif;
  font-weight: 300;
}

/* hero-h1 */
.hero-h1 {
  /* margin-left:30px; */
  font-size: 55px;
  font-weight: normal;
  margin-top: 41px;
  margin-bottom: 30px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 5px;
  margin-top: 60px;
  text-align: center;
}
/* span */

span {
  font-weight: 300px;
  text-align: center;
}

.snowCamp {
  margin-left: 60px;
  margin-top: 40px;
  height: auto;
  width: auto;
}